/* Hero.css */
.hero-section {
  background-image: url("/src/assets/hero/skill.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
