.login-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background: #d1dcf5;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width:200vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.role-toggle {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.role-toggle button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #e0e0e0;
  cursor: pointer;
  font-weight: 600;
}

.role-toggle button.active {
  background: #4a90e2;
  color: #fff;
}

.form-box label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

.form-box input,
.form-box select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  background: #4a90e2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #357bd8;
}
